{% extends 'base.html' %}
{% macro display_blogs(blogs) %}

<div class="blog-container">
    <div class="container">
        <h1>Blogs will be displayed here</h1>
        <div class="row">
            <div class="col-md-12">
                 {% if blogs %}
                {% for blog in blogs %}
            <div class="card">
  <h5 class="card-header">{{blog.title}}</h5>
  <div class="card-body">
       <p class="card-text">Author: {{blog.author}}</p>
    <p class="card-text">{{blog.content}}</p>
      <p class="card-text">Posted on {{blog.date.strftime('%Y-%m-%d')}}</p>
      <div class="footer">
          <div class="comment">
    <a href="/comment" class="btn btn-primary">Comment</a>
              </div>
          <div class="edit">
              <a href="#" class="btn btn-primary">Edit</a>
              <a href="/delete/{{blog.id}}" class="btn btn-primary">Delete</a>
          </div>
          </div>
  </div>
</div>
                 {% endfor %}
         {% endif %}
            </div>
        </div>
    </div>
</div>
{% endmacro %}