{% extends 'base.html'%}
{% from 'comment_display_macro.html' import display_comments%}
{% block content %}
   <div class="container">
        <div class="row">
            <div class="col-md-6">
               <h3 class="b-header">Comments</h3>
                 <form class="blog-form" method="POST">
                      <div class="mb-3">
                        <label for="nickname" class="form-label"></label>
                        <input type="text" class="form-control" id="nickname" name="nickname" placeholder="Your nickname">
                      </div>
                     <div class="mb-3">
                        <label for="content" class="form-label"></label>
                        <input type="text" class="form-control" id="content" name="content" placeholder="Comment">
                      </div>
                     <div class="footer">
                         <a href="/blogs" class="btn comment-button"><i class="bi bi-arrow-left"></i></a>
                          <button type="submit" class="btn submit1">Comment</button>
                     </div>
                 </form>
            </div>
             <div class="col-md-6">
                <div>{{ display_comments(comments) }}</div>
             </div>
        </div>
   </div>
{% endblock %}