{% extends 'base.html' %}
{% block content %}
<div class="cont">
<!--  login-->
  <div class="form sign-in">
    <form action="{{ url_for('auth.login') }}" method="POST">
    <h2>Welcome back,</h2>
    <label>
      <span>Email</span>
      <input type="email" id="email1" name="email"/>
    </label>
    <label>
      <span>Password</span>
      <input type="password" id="password" name="password"/>
    </label>
    <p class="forgot-pass">Forgot password?</p>
    <button type="submit" class="submit">Sign In</button>

      </form>
  </div>
  <div class="sub-cont">
    <div class="img">
      <div class="img__text m--up">
        <h2>New here?</h2>
        <p>Sign up and be part of a creative world!</p>
      </div>
      <div class="img__text m--in">
        <h2>One of us?</h2>
        <p>Already have an account? Just sign in!</p>
      </div>
      <div class="img__btn">
        <span class="m--up">Sign Up</span>
        <span class="m--in">Sign In</span>
      </div>
    </div>
    <!-- SIGN UP -->
    <div class="form sign-up">
      <form action="{{ url_for('auth.signup') }}" method="POST">
      <h2>Time to feel like home,</h2>
      <label>
        <span>Name</span>
        <input type="text" id="username" name="username"/>
      </label>
      <label>
        <span>Email</span>
        <input type="email" id="email" name="email"/>
      </label>
      <label>
        <span>Password</span>
        <input type="password" id="password1" name="password1"/>
      </label>
         <label>
        <span>Confirm Password</span>
        <input type="password" id="password2" name="password2"/>
      </label>
      <button type="submit" class="submit">Sign Up</button>
    </form>
    </div>
  </div>
</div>
{% endblock%}